button {
  display: flex;
  align-items: center;
  justify-content: center;

  width: 100%;
  cursor: pointer;

  box-sizing: border-box;
  border-radius: 5px;
border: none;
  padding: 0 14px;
  text-align: center;
  font-size: 14px;
  font-weight: bold;
  font-family: "Rubik", sans-serif;
}

.btn-extra-small {
  height: 38px;
}

.btn-small {
  height: 42px;
}

.btn-big {
  height: 48px;
}

.btn-purple {
  background-color: #7978d9;
  color: white;
}

.btn-blue {
  background-color: #3a9ff1;
  color: white;
}

.btn-red {
  background-color: #ff576b;
  color: white;
}

.btn-white {
  background-color: #f1f1f1;
  color: #000;
  box-shadow: 0px 2px 11px rgba(0, 0, 0, 0.1);
}
