/* Estilos base */
.container-main {
  width: 100vw;
  max-width:460px;
  height: auto;
  max-height: 808px;
  margin: 0 auto;
}

/* Estilos para telas menores */
@media only screen and (max-width: 768px) {
  .container-main {
  }
}

/* Estilos para telas maiores */
@media only screen and (min-width: 1200px) {
  .container-main {
  }
}
