.container-carrossel-distac {
  display: flex;
  justify-content: center;
  min-width: 100%;
  max-width: 700px;
  margin-top: -50px;
  padding: 0 20px;
}
.product-carousel {
  display: flex;
  align-items: center;
  width: 100%;
  min-width: 520px;
  max-width: 700px;
}
.product-carousel button {
  width: 30px;
  height: 30px;
}
.product-carousel-cards {
  display: flex;
  width: 100%;
  height: 250px;
  padding-left: 10px;
}

.hidden {
  display: none;
}
.view-all {
  width: 100px;
  cursor: pointer;
  font-family: "Roboto";
  font-style: normal;
  font-weight: 500;
  font-size: 12px;
  line-height: 14px;
  text-align: center;

  color: #ff5959;
}
.view-all:hover {
  text-transform: uppercase;
}
.description-section {
  max-width: 100px;

  font-family: "Roboto";
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 19px;

  color: #283148;
}
.container-section-cards {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
  min-width: 400px;
  width: auto;
  max-width: 100%;
  padding: 50px 5px 50px 5px;
  background-color: #ffffff;
}

.container-card {
  overflow-x: auto;
  width: auto;
  max-width: 1440px;
}
.container-card::-webkit-scrollbar {
  width: 10px;
}
.container-card::-webkit-scrollbar-track {
  background-color: transparent;
}
.container-card::-webkit-scrollbar-thumb {
  background-color: rgba(0, 0, 0, 0);
  border-radius: 10px;
}

.card {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;

  width: 150px;
  height: auto;

  margin: 5px;
  padding: 20px;

  border-radius: 10px;
  text-align: center;
}

.card:hover {
  border: 2px solid #ff5959;
}
.card .imageProduct {
  width: 125px;
  height: 125px;
  object-fit: cover;
}
.card h2 {
  width: 125px;
  height: auto;
  font-size: 14px;
  font-weight: 500;
  margin-bottom: 10px;
}
.card .free {
  all: unset;
  width: 80px;
  height: 15px;
  font-family: "Roboto";
  font-style: normal;
  font-weight: 700;
  font-size: 14px;
  line-height: 16px;
  color: #ff5959;
  background-color: #ffffff00;
}
.card .price {
  width: 50px;
  height: 15px;
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 14px;
  text-decoration-line: line-through;

  color: #141414;

  opacity: 0.6;
}

.container-price {
  display: flex;
  justify-content: center;
  gap: 5px;
}
.container-section-cards span {
  display: flex;
  align-items: center;
  justify-content: space-around;
  width: 100%;
  height: auto;
  text-align: center;
  font-size: xx-large;
  font-style: oblique;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans";
}


