.menu-fixed {
  display: flex;
  justify-content: space-around;
  position: fixed;
  bottom: 0px;
  min-width: 480px;
  max-width: 480px;
  background-color: white;
}
.menu-fixed span {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
