.container-cart {
  min-width: 100%;
  min-height: 100%;
  background-color: rgba(0, 0, 0, 0.347);
  padding: 50px 5px;
}
.cart {
  width: 100%;
  max-width: 520px;
  min-height: 600px;

  background: #ffffff;
  border-radius: 25px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
  padding: 20px 20px;
}
.container-cart h1 {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 500;
  font-size: 24px;
  line-height: 28px;
  /* identical to box height */
  margin: 30px 30px 30px 10px;

  color: #283148;
}
.img-cart {
  min-width: 80px;
  max-width: 80px;
  object-fit: 100%;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}
.product-name {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 19px;
  margin-bottom: 5px;

  color: #283148;
}
.close-cart-x {
  all: unset;
  position: absolute;
  right: 10px;
  width: 50px;
  font-size: 20px;
  font-weight: 700;
  background: none;
}
.product-item {
  display: flex;
  background-color: #ffffff00;
  height: 100px;
}
.div-line {
  background-color: rgb(5, 5, 5);
  width: 410px;
  height: 1px;
  margin: 5px 0 10px 10px;
}
ul {
  width: 450px;
  height: 500px;
  overflow-y: auto;

  overflow-x: none;
  margin-left: -10px;
}

li {
  padding: 5px 10px;
  list-style: none;
}
.container-details {
  display: flex;
  flex-direction: column;
  width: 100%;

  padding: 0 10px;
}
.section-details {
  display: flex;
  justify-content: baseline;
  height: 40px;
}
.container-quantity {
  display: flex;
  height: 34px;
  background: #ffffff;
  border: 2px solid rgba(40, 49, 72, 0.817);
  border-radius: 6px 0px 0px 6px;
}
.container-cart-price {
  display: flex;
  width: 100px;
  height: 50px;
}
.btn-controller-quantity {
  all: unset;
  width: 30px;
  height: 30px;

  background: rgba(40, 49, 72, 0.2);
  font-weight: 700;
  text-align: center;
}
.show-quantity {
  width: 40px;
  height: 30px;
  padding-top: 5px;
  text-align: center;
  background: #ffffff;
  border-radius: 6px 0px 0px 6px;
}
.new-price {
  width: 90px;
  font-family: "Roboto";
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 19px;
  margin-top: 5px;
  color: #ff5959;
}
.old-price {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 600;
  font-size: 12px;
  line-height: 14px;
  text-decoration-line: line-through;
  margin-top: -15px;
  color: #141414;
  opacity: 0.6;
}
.container-all-values {
  display: flex;
  justify-content: flex-end;
  width: 100%;
  height: 60px;
}
.all-values {
  display: flex;
  justify-content: flex-end;
  width: 90px;
  height: 30px;
  font-family: "Roboto";
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 19px;
  color: #ff5959;
  margin-top: 5px;
}
.aumont {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 500;
  font-size: 20px;
  line-height: 19px;
  margin-top: 5px;
  color: #ff5959;
}
.btn-confirm-transaction {
  width: 280px;
  height: 46px;
  margin-left: 70px;
  background: #ff5959;
  border-radius: 8px;
  color: #ffffff;
}
